<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  {{{body}}}
</body>
  <footer>
    <p>Copyright: CookStore Rezepte</p>
  </footer>
</html>
