{{!< main}}

<div class="header">
  <div class="logo">Logo</div>
  <a href="/new" class="btn">Neues Rezept</a>
</div>

<h1>Meine Rezepte</h1>

<div class="content">
  {{#each recipes}}
  <div class="recipe-card">
    <a href="{{this.link}}">
      <div class="recipe-image">{{this.image}}</div>
      <div class="recipe-info">
        <div class="recipe-title">{{this.title}}</div>
        <div class="recipe-details">{{this.description}}</div>
      </div>
    </a>
  </div>
  {{/each}}
</div>
