{{!< main}}

<div class="header">
  <div class="logo">Logo</div>
  <div>
    <a href="/list" class="btn">Zu den Rezepten</a>
    <button form="newRecipeForm" type="submit" class="btn">Speichern</button>
  </div>
</div>

<div class="content">
  <form id="newRecipeForm" action="/submit-recipe" method="POST">
    <div class="form-group">
      <label for="title">Titel des Rezepts</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
        placeholder="Titel eingeben"
        required
      >
    </div>

    <div class="form-group">
      <div class="recipe-detail-container">
        <div class="detail-image">Bild</div>
        <div class="form-group" style="flex-grow: 1;">
          <label for="description">Rezept-Beschreibung</label>
          <textarea
            id="description"
            name="description"
            class="form-control form-textarea"
            placeholder="Kurze Beschreibung"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="ingredients">Zutaten (kommagetrennt)</label>
      <textarea
        id="ingredients"
        name="ingredients"
        class="form-control form-textarea"
        placeholder="z.B. 200g Mehl, 100g Zucker"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="steps">Zubereitungsschritte</label>
      <textarea
        id="steps"
        name="steps"
        class="form-control form-textarea"
        placeholder="Beschreibe hier die Zubereitung"
      ></textarea>
    </div>
  </form>
</div>
